@page "/Accepted/{phoneNumber}"
@using Blazor.Services
@using global::Shared.DTOs.Basics
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@using UIComponents
@inject IAuthService authService
@inject IReceiptService receiptService
@inject NavigationManager navMgr
@inject IOrderService orderService
<h3>Accepted</h3>
<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Payment method</th>
        <th>Additional comments</th>
        <th>Price</th>
        <th>See All info</th>
        
    </tr>
    </thead>
    @if (receiptService.GetAcceptedReceiptsByFarmer(role) != null)
    {
        @foreach (var item in Receipts)
        {
            <tr>
                <td>@item.Receipt.OrderID</td>
                <td>@item.Receipt.CustomerID</td>
                <td>@item.Receipt.PaymentMethod</td>
                <td>@item.Receipt.Text</td>
                <td>@item.Receipt.price</td>
              
                <td>
                    <button class="close-btn" @onclick="() => OpenItem(item.Receipt.OrderID)">See the order items</button>
                    <Modal ShowModal="isOpen">
                        <ShowOrderItems OrderId="tempOrderId" onChange="@CloseView" isGroup="false"/>
                    </Modal>
                   
                </td>
            </tr>
        }
    }

</table>
<tbody>

</tbody>
@code {
    private bool isOpen = false;
    private IEnumerable<SendReceiptDto> Receipts = new List<SendReceiptDto>();
    private IEnumerable<OrderItem> Items=new List<OrderItem>();
    private string role;
    private string msg = "";
    private int tempOrderId;
    

    protected override async Task OnInitializedAsync()
    {
        role=authService.GetAuthAsync().Result.Identity.Name;
        Receipts = await receiptService.GetAcceptedReceiptsByFarmer(role);
        
    }

    private async void OpenItem(int orderId)
    { 
        //Items =await orderService.GetAllOrderItemsFromOrder(orderId);
        tempOrderId = orderId;
        isOpen = true;
        StateHasChanged();
       
    }

    public void CloseView()
    {
        isOpen = false;
        StateHasChanged();
    }

}