@page "/Reviews"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@using Blazor.Services
@using UIComponents
@inject IReviewServices reviewServices;
@inject IAuthService authServices;
@inject NavigationManager navMgr;

<div class="container-fluid">
    <AuthorizeView Roles="Farmer">
        <NotAuthorized>
            <div class="filter d-flex justify-content-center mb-4">
                <label class="typeLabel" for="type">Farmer:</label>
                <input type="text" class="input" @bind="farmer"/>
                <button class="btn" @onclick="GetReviews">Get Reviews</button>
            </div>


            @if (reviews == null)
            {
                <p>Loading...</p>
                <p>Make sure that username input field is not empty</p>
            }
            else if (!reviews.Any())
            {
                if (farmer.Equals(""))
                {
                    <p>Input for farmer's username needed</p>
                }
                else
                {
                    <p>No Reviews to display</p>
                }
            }
            else
            {
                <div class="items row">
                    @foreach (var item in reviews)
                    {
                        <div class="card col-md-2">
                            <h1>Farmer: @item.FarmerID</h1>
                            <label>Overall: @item.Star/5</label>
                            <label>@item.Text</label>
                            <label>Posted by: @item.CustomerID</label>
                            <label>Comments:</label>
                            <div class="commentTable">
                                <table>
                                    @foreach (var comment in @item.Comments)
                                    {
                                        <tr>
                                            <td>
                                                @comment.Username:
                                            </td>
                                            <td>
                                                @comment.Text
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <div>
                                <button class="btn" @onclick="@(() => PostComment(item.FarmerID,item.CustomerID,item.OrderId))">Comment</button>
                            </div>
                        </div>
                    }
                </div>
            }
        </NotAuthorized>

    </AuthorizeView>
</div >

<Modal ShowModal="showModal">
    <PostComment customerId="@CustomerId" farmerId="@FarmerId" orderId="@OrderId" onChange="@proceed"></PostComment>
</Modal>

@code
{

    private IEnumerable<Review> reviews = new List<Review>();
    private string farmer = "";

    private bool showModal = false;
    private string FarmerId = "";
    private string CustomerId = "";
    private int OrderId = 0;

    private async Task GetReviews()
    {
        if (farmer != "")
        {
            reviews = await reviewServices.GetReviewsByFarmer(farmer);
        }
        else
        {
            reviews = null;
            farmer = "";
        }
    }

    private void PostComment(string farmerId, string customerId, int orderId)
    {
        showModal = true;
        FarmerId = farmerId;
        CustomerId = customerId;
        OrderId = orderId;
    }

    private async void proceed()
    {
        showModal = false;
        await GetReviews();
    }
}